.form-search{


  flex: 0 0 25%;


  position: relative;

  &__search{

    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2rem;
    color:#a09a9a;

    padding: .8rem 2rem;
    transition: all .3s;

    &::placeholder{
      color:#ddd;
    }

    &:focus{
      outline: none;
      border: 1px solid #a09a9a;

      &::placeholder{
        color: #a09a9a;
      }
    }





  }


  &__search:focus + &__button > &__icon {
    fill: #a09a9a;
  }


  &__button{

    &,
    &:link,
    &:visited{
      background: transparent;
      border: none;

      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%,-50%);

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:active,
    &:focus{
      outline: none;

    }



  }

  &__button:hover &__icon{
    fill: red;
  }



  &__icon{
    height:1.5rem;
    width: 1.5rem;
    fill: #ddd;;
  }
}