.table{


  width: 100%;
  margin-top: 2rem;

  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1rem 3rem rgba(black, .15);

  border-collapse: collapse;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;

  th{
    font-size: 1.2rem;

    border-bottom: 1.5px solid #a09a9a;
    padding: 2rem 1rem;
  }

  td{
    font-size: inherit;
    color: #a09a9a;
    padding: 1rem;
    border-bottom: 1px solid #efe3e3;
  }





}